@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

*{
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

:root{
  --color0: #fff;
  --color1: #0B132B;
  --color2: #1C2541;
  --color3: #3A506B;
  --color4: #5BC0BE;
  --color5: #6FFFE9;
  --color6: #90e0ef;
  --color7: #f3f3f3;
  --color8: #949494;
  --color9: rgba(11, 19, 43, 0.54);
  --color10: rgb(243, 243, 243, 0.7);
  --color11: #d4d1d1;

  --oczekujace: #eebe00;
  --zaakceptowane: #339900;
  --odrzucone: 	#cc3300;
  
  --warning: #eebe00;
  --success: #339900;
  --error: 	#cc0000;

  --oczekujace-background: #fff1bb;
  --zaakceptowane-background: #cae7c9;
  --odrzucone-background: #f1d0ce;
  --message-darker: #dfdfdf;

  --oczekujace-background-hover: #fae48e;
  --zaakceptowane-background-hover: #b0e9af;
  --odrzucone-background-hover: #e7aba8;
 

  
  --main-radius: 12px;
  --main-padding: 5px;

/* -------- */
  /* NAVBAR */
  --logo-nav-text: 1.5rem;
  --nav-item: 0.9rem;
  --nav-button-bright: 0.85rem;
  --nav-button-dark: 0.85rem;
  
  /* INDEX */
  --index-title: 1.4rem;
  --index-body: 1rem;

  /*FORM */
  --form-title: 1.5rem;
  --form-global-item: 0.7rem;
  
  /* OGLOSZENIE */
  --card-title: 1.25rem;
  --card-item: 0.8rem;
  --card-img-width: 165px;
  --card-img-height: 165px;

  /* OGLOSZENIE W ŚRODKU */
  --panel-card-title: 2.3rem;
  --panel-card-section-title: 1.25rem;
  --panel-card-items: 0.8rem;
  --panel-card-section-p: 0.8rem;
  --panel-card-big-header-img-w: 180px;
  --panel-card-big-header-img-h: 180px;
  --panel-card-items-img-w: 50px;
  --panel-card-items-img-h: 50px;

  /* PANELE */
  --panel-section-h1: 1.7rem;
  --panel-item-h2: 1.25rem;
  --main-body: 0.9rem;

  /*BUTTONY*/
  --button-global-bright: 0.7rem;
  --button-global-dark: 0.7rem;

/* -------- */
  
}
@media (max-width: 1440px){
  :root{
  /* -------- */
    /* NAVBAR */
    --logo-nav-text: 1.5rem;
    --nav-item: 0.8rem;
    --nav-button-bright: 0.78rem;
    --nav-button-dark: 0.78rem;
    
    /* INDEX */
    --index-title: 1.4rem;
    --index-body: 1rem;
  
    /*FORM */
    --form-title: 1.4rem;
    --form-global-item: 0.7rem;
    
    /* OGLOSZENIE */
    --card-title: 1.23rem;
    --card-item: 0.78rem;
    --card-img-width: 155px;
    --card-img-height: 155px;
  
    /* OGLOSZENIE W ŚRODKU */
    --panel-card-title: 1.7rem;
    --panel-card-section-title: 1.2rem;
    --panel-card-items: 0.81rem;
    --panel-card-section-p: 0.81rem;
    --panel-card-big-header-img-w: 160px !important;
    --panel-card-big-header-img-h: 160px !important;
    --panel-card-items-img-w: 35px;
    --panel-card-items-img-h: 35px;
  
    /* PANELE */
    --panel-section-h1: 1.7rem;
    --panel-item-h2: 1.25rem;
    --main-body: 0.9rem;
  
    /*BUTTONY*/
    --button-global-bright: 0.78rem;
    --button-global-dark: 0.78rem;
  
  /* -------- */
    
  }
}

@media (max-width: 768px){
  :root{
  /* -------- */
    /* NAVBAR */
    --logo-nav-text: 1.5rem;
    --nav-item: 0.9rem;
    --nav-button-bright: 0.85rem;
    --nav-button-dark: 0.85rem;
    
    /* INDEX */
    --index-title: 1.4rem;
    --index-body: 1rem;
  
    /*FORM */
    --form-title: 1.4rem;
    --form-global-item: 0.7rem;
    
    /* OGLOSZENIE */
    --card-title: 1.1rem;
    --card-item: 0.7rem;
    --card-img-width: 120px;
    --card-img-height: 120px;
  
    /* OGLOSZENIE W ŚRODKU */
    --panel-card-title: 1.7rem;
    --panel-card-section-title: 1.2rem;
    --panel-card-items: 0.81rem;
    --panel-card-section-p: 0.81rem;
    --panel-card-big-header-img-w: 160px !important;
    --panel-card-big-header-img-h: 160px !important;
    --panel-card-items-img-w: 35px;
    --panel-card-items-img-h: 35px;
  
    /* PANELE */
    --panel-section-h1: 1.7rem;
    --panel-item-h2: 1.25rem;
    --main-body: 0.9rem;
  
    /*BUTTONY*/
    --button-global-bright: 0.9rem;
    --button-global-dark: 0.9rem;
  
  /* -------- */
    
  }
}

body{
  padding: 0;
  margin: 0;
  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-layout{
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 
  auto 
  1fr 
  auto;
}

.empty{
  height: 100px;
}

/* ---------------------- GLOBAL ---------------------- */

.ui-pagination-menu{
  padding: 5px 15px;
  border-radius: var(--main-radius);
  background-color: var(--color7);
  color: var(--color1);
}

.btn-wrapper{
  display: flex;
  flex-direction: row;
}

.ui-item-active{
  color: var(--color4);
}

.ui-item{
  color: var(--color1);
}

.ad-waiting{
  background-color: var(--oczekujace-background) !important; 
}

.ad-waiting-static{
  background-color: var(--oczekujace-background) !important; 
}

.ad-waiting:hover{
  background-color: var(--oczekujace-background-hover) !important; 
}

.ad-accepted{
  background-color: var(--zaakceptowane-background)!important; 
}

.ad-accepted-static{
  background-color: var(--zaakceptowane-background)!important; 
}

.ad-accepted:hover{
  background-color: var(--zaakceptowane-background-hover)!important; 
}

.ad-denied{
  background-color: var(--odrzucone-background) !important; 
}

.ad-denied-static{
  background-color: var(--odrzucone-background) !important; 
}

.ad-denied:hover{
  background-color: var(--odrzucone-background-hover) !important; 
}

.logo_upload{
  width: fit-content;
  border-radius: var(--main-radius);
  background: var(--color0);
}

.logo_wrapper{
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 25px;
  border-radius: var(--main-radius);
  background-color: var(--color0);
}

.logo_label{
  margin: 5px;
}

::-webkit-file-upload-button{
  padding: 12px 20px;
  margin: 10px;
  border: none;
  border-radius: 30px;
  background: var(--color1);
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--color0);
  transition: .4s;
}

::-webkit-file-upload-button:hover{
  color: var(--color5);
  transform: scale(1.05);
  cursor: pointer;
}

.error-alert{
  width: 100%;
  margin: 12px 0px;
  padding: 12px;
  border-radius: var(--main-radius);
  text-align: center;
  color: var(--color0);
  background-color: var(--error);  
}

.success-alert{
  width: 100%;
  margin: 5px 0px;
  padding: 12px;
  border-radius: var(--main-radius);
  text-align: center;
  color: var(--color0);
  background-color: var(--success);   
}

.warning-alert{
  width: 100%;
  margin: 5px 0px;
  padding: 12px;
  border-radius: var(--main-radius);
  text-align: center;
  color: var(--color0);
  background-color: var(--warning);   
}

.error-message{
  margin: 5px; 
  padding: 0;
  color: var(--error); 
}

.oczekujace{
  color: var(--oczekujace);
}

.zaakceptowane{
  color: var(--zaakceptowane);
}

.odrzucone{
  color: var(--odrzucone);
}
.button-global-bright{
  padding: 12px 30px;
  margin: 10px;
  border: none;
  border-radius: 30px;
  background: var(--color5);
  font-size: var(--button-global-bright);
  font-weight: bold;
  color: var(--color1);
  transition: .4s;
}

.button-global-bright:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.button-global-dark{
  padding: 12px 30px;
  margin: 10px;
  border: none;
  border-radius: 30px;
  background: var(--color1);
  font-size: var(--button-global-dark);
  font-weight: bold;
  color: var(--color0);
  transition: .4s;
}

.button-global-dark:hover{
  color: var(--color5);
  transform: scale(1.05);
  cursor: pointer;
}

.message-darker
{
  background-color: var(--message-darker) !important;
}

.accept-button{
  background-color: #88e485;
}

.deny-button{
  background-color: #eb8c87;
}

/* ---------------------- GLOBAL-END ---------------------- */

/* ---------------------- HEADER-NAVBAR ---------------------- */
header{
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 5px 5%;
  background-color: var(--color1);
  transition: all .50s ease;
}

.nav-left
{
  display: flex;
  flex-direction: row;
}

.nav-left-img
{
  align-self: center;
  width: 2rem;
  height: 2rem;
  margin-right: 10px;
}

.nav-left-text {
  font-size: var(--logo-nav-text);
  color: var(--color0);
}

.nav-left-text-color{
  color: var(--color5);
}

.logo:hover{
  color: var(--color5);
  transition: all .50s ease;
  cursor: pointer;
}

.nav-center{
  display: flex;
}

.nav-link{
  padding: 5px 0px;
  margin: 0px 30px;
  font-size: var(--nav-item);
  color: var(--color0);
  transition: all .50s ease;
}

.nav-link:hover{
  color:var(--color5);
}

.nav-button-dark{ 
  /*button po wysunięciu menu*/
  display: none;
  padding: 12px 30px;
  margin: 10px;
  border: none;
  border-radius: 30px;
  background: var(--color1);
  font-size: var(--nav-button-dark);
  font-weight: bold;
  color: var(--color0);
  transition: .4s;
}

.nav-button-dark:hover{
  /*button po wysunięciu menu*/ 
  transform: scale(1.13);
  cursor: pointer;
}

.nav-right{
  display: flex;
  align-items: center;
}

.nav-right a:visited{
  color: var(--color1);
}
.nav-button-bright{
  padding: 12px 30px;
  margin: 10px;
  border: none;
  border-radius: 30px;
  background: var(--color5);
  font-size: var(--nav-button-bright);
  font-weight: bold;
  color: var(--color1);
  transition: .4s;
}

.nav-button-bright:hover{
  transform: scale(1.13);
  cursor: pointer;
}

.hamburger {
  display: none;
  margin-left: 20px;
  cursor: pointer;
}

.hamburger div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: var(--color0);
}
/* ---------------------- HEADER-NAVBAR-END ---------------------- */

/* ---------------------- FORMS_MAIN_CONTAINER ---------------------- */

.forms-main-container{
  display: grid;
  grid-template-columns: 0.8fr 1fr 1fr 0.8fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "n form form n1"
    "n form form n1";
  grid-gap: 0.2rem;
  padding: 3rem 1.5rem;
}

.forms {
  background: var(--color6);
  grid-area: form;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  margin: 20px;
  padding: 2rem 1.5rem;
  height: fit-content;
}

.form-global-title{
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: var(--form-title);
  text-align: center;
}

.form-global{
  display: flex;
  flex-direction: column;
}

.form-global-item{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 7px;
  border: 2px solid var(--color1);
  border-radius: 10px;
  background-color: var(--color0);
  font-size: var(--form-global-item);
}
/* ---------------------- FORMS_MAIN_CONTAINER-END ---------------------- */

/* ---------------------- WELCOME-MAIN_CONTAINER ---------------------- */
.hero {
  /* background: #90e0ef; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
  margin: 20px;
}

.hero img{
  width: 100%;
  height: 100%;
  max-height: 18vw;
  max-width: 18vw;
}

.hero h1{
  font-size: 4.8vw;
  color: var(--color0);
}

.hero span{
  color: var(--color1);
}

.hero-wrapper{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
/* ------ */
.content {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  padding: 1.5rem 1.5rem;
  border-radius: var(--main-radius);
  background: var(--color9);
}

.article{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid;
  border-radius: var(--main-radius);
  border-color: var(--color0);
  background-color: var(--color0);
  color: var(--color1);
}

.article img{
  max-width: 200px;
  max-height: 200px;
  margin: 1rem;
}

.article-wrapper{
  padding: 2rem;
}

.article-wrapper h1{
  font-size: var(--index-title);
}

.article-wrapper p{
  font-size: var(--index-body);
}

.blank1{
  display: none;
}
/* ---------------------- WELCOME-MAIN_CONTAINER-END ---------------------- */

/* ---------------------- ADS_MAIN_CONTAINER ---------------------- */
.ads-main-container {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.2rem;
  grid-template-areas:
    "sidebar main main main"
    "sidebar main main main";
}

.sidebar-container {
  grid-area: sidebar;
  height: fit-content;
  margin: 20px 15px 20px 15px;
  padding: 2rem 0.9rem;
  border-radius: var(--main-radius);
  background: #90e0ef;
}

/*-----*/

.cards-content {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 15px 20px 15px;
  padding: 1.5rem 1.5rem;
  border-radius: var(--main-radius);
  background: var(--color9);
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 5px 0;
  padding: 0.5rem 1.5rem;
  /* border: 1px solid var(--color8); */
  border-radius: var(--main-radius);
  background-color: var(--color0);
  color: black;
}

.card:visited {
  color: black;
}

.card:hover{
  background-color: var(--color11);
}

.card-title {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: var(--card-title);
}

.card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--card-img-width);
  height: var(--card-img-height);
  margin-right: 5px;
  border: 1px solid var(--color1);
  border-radius: 10px;
  background-color: var(--color0);
}

.card-wrapper {
  width: 100%;
  margin-bottom: 10px;
  padding: 1rem 1.5rem;
  color: black;
}

.card-wrapper img {
  width: 29px;
  height: 29px;
  margin-right: 7px;
  padding: 0px;
}

.card-item {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 2px;
  font-size: var(--card-item);
}

.bold {
  font-weight: bold;
}

/* ---------------------- ADS_MAIN_CONTAINER-END ---------------------- */

/* ---------------------- CARD_INSIDE_CONTAINER ---------------------- */

.panel-card-container {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 15px 20px 15px;
  padding: 1.5rem 1.5rem;
  border-radius: var(--main-radius);
  background-color: var(--color0);
}

.panel-card-wrapper{
  width: 100%;
}

/*--- SECTION1 ---*/

.panel-card-big-header{
  display: flex;
}

.panel-card-big-header img {
  width: var(--panel-card-big-header-img-w) !important;
  height: var(--panel-card-big-header-img-h) !important;
  margin-right: 25px;
  border-radius: 10px;
  /* border: 1px solid var(--color1);
  background-color: var(--color0); */
}

.panel-card-big-header h1 {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--panel-card-title);
}

/*--- SECTION2 ---*/

.panel-card-items{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 20px;
  background-color: var(--color7);
}

.panel-card-items img {
  width: var(--panel-card-items-img-w);
  height: var(--panel-card-items-img-h);
  margin-right: 7px;
  padding: 0px;
}

.panel-card-items p {
  display: flex;
  align-items: center;
  margin: 5px;
  font-weight: bold;
  font-size: var(--panel-card-items);
}

/*--- SECTION3 ---*/

.panel-card-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 20px;
  background-color: var(--color7);
  
}

.row-space
{
  flex-direction: row;
  justify-content: space-evenly;
}

.dark{
  background-color: var(--color1);
}

.panel-card-section-title{
  margin: 0 0 1rem 0;
  font-size: var(--panel-card-section-title);
}
.title-white{
  color: var(--color0);
}
.panel-card-section-p{
  margin: 0.4rem;
  padding: 0;
  white-space: pre-line;
  font-size: var(--panel-card-section-p);
}


/*--- SECTION5 ---*/

.card-inside-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-inside-form textarea{
  display:inline-block;
  width: 100%;
  height: 15rem;
  margin: 10px 20px 10px 0px;
  padding: 1rem;
  border-style: none;
  border-radius: 10px;
  border-width: 2px;
  background-color: var(--color0);
}

.card-inside-form button{
  justify-self: center ;
  width: 11rem;
  margin: auto;
  font-size: var(--button-global-bright);
}
/* ---------------------- CARD_INSIDE_CONTAINER-END ---------------------- */

/* ---------------------- PANEL-MAIN-CONTAINER ---------------------- */

.panel-main-container{
  display: flex;
  margin: 20px 5px 20px 5px;
  border-radius: var(--main-radius);
  background-color: rgba(11, 19, 43, 0.7);
}

.panel-nav{
  display: flex;
  flex-direction: column;
  width: 25%;
  height: fit-content;
  margin: 20px 7px 20px 7px;
  padding: 0.5rem 0.5rem;
  border-radius: var(--main-radius);
  background-color: var(--color6);
}

.panel-nav h1{
  margin: 10px 0px 0.5rem 0px;
  text-align: center;
  font-size: var(--form-title);
}

.panel-nav a{
  margin: 0;
  padding: 0;
  color: var(--color1);
}

.panel-nav-item{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  margin: 1rem 0rem;
  padding-top: 0.9rem;
  border-radius: 50px;
  border-bottom: 1px solid;
  font-weight: bold;
  font-size: var(--nav-button-bright);
  background-color: rgba(11, 19, 43, 0.03);
}

.panel-nav-item:hover{
  border-radius: 50px;
  border-bottom: 3px solid var(--color5);
  background-color: var(--color1);
  color: var(--color5);
  transition: all .50s ease;
}

.panel-content{
  width: 100%;
  margin: 20px 7px 20px 7px;
  padding: 1.5rem 1.5rem;
  border-radius: var(--main-radius);
  background-color: var(--color0);
}

.panel-section{
 /* */
 margin: 0;
}

.panel-section-h1{
  margin: 25px 0 30px 0px ;
  font-size: var(--panel-section-h1);
}
.panel-item{
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 1.2rem 1.4rem;
  border-radius: 20px;
  background-color: var(--color7);
}

.panel-item-p{
  margin-left: 10px;
  font-size: var(--main-body);
}

.panel-item-h2{
  margin: 0 0 0.4rem 0;
  font-size: var(--panel-item-h2);
}

.panel-logo{
  width: var(--panel-card-big-header-img-w);
  height: auto;
  margin-left: 5px;
}

.panel-item textarea{
  display:inline-block;
  width: 100%;
  height: 15rem;
  padding: 1rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border-style: none;
  border-radius: 10px;
  border: 2px solid var(--color1);
  background-color: var(--color0);
}


/* ---------------------- PANEL-MAIN-CONTAINER-END ---------------------- */

/* ---------------------- ZGLOSZENIE-MAIN-CONTAINER ---------------------- */
.zgloszenie-main-container {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "n main main n1"
    "n main main n1";
  grid-gap: 0.2rem;
}


/* ---------------------- ZGLOSZENIE-MAIN-CONTAINER ---------------------- */

/* ---------------------- FOOTER ---------------------- */
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  background: var(--color1);
  text-align: center;
  color: white;
}

footer p{
  margin: 40px;
  padding: 0;
}
/* ---------------------- FOOTER-END ---------------------- */


/* ------------------------- MEDIA BREAKPOINTS ------------------------- */


/* -------------------------------------------------- LAPTOP -------------------------------------------------- */
@media (max-width: 1440px){
  header{
      padding: 14px 2%;
      transition: .2s;
  }

  .nav-link a{
      padding: 5px 0px;
      margin: 0px 20px;
  }
  
  /* --- WELCOME-MAIN_CONTAINER --- */
  .hero img{
    min-width: 250px;
    min-height: 250px;
  }

  .hero h1{
    font-size: 4rem;
  }

  .content{
    margin: 1rem;
    padding: 1rem 1.2rem;
  }

  .article{
    padding: 10px;
  }

  .article img{
    width: 190px;
    height: 190px;
    margin: 1rem;
  }

  .article-wrapper
  {
    padding: 1.6rem;
  }
  /* --- WELCOME-MAIN_CONTAINER-END --- */

  /* --- FORMS_MAIN_CONTAINER --- */

  .forms-main-container{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas:
      "n form form n1"
      "n form form n1";
    grid-gap: 0.2rem;
  }
  /* --- FORMS_MAIN_CONTAINER-END --- */

  /* --- ADS_MAIN_CONTAINER --- */
  .ads-main-container {
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0rem;
    grid-template-areas:
      "sidebar main main main"
      "sidebar main main main";
  }

  .sidebar-container {
    margin: 20px 5px 20px 10px;
    /*padding: 2rem 1.5rem; */
  }

  /*-----*/

  .cards-content {
    margin: 20px 10px 20px 5px;
    padding: 1rem 1rem; 
  }

  .card {
    margin-bottom: 5px;
    padding: 0.5rem 1.5rem;
  }

  .card-wrapper {
    padding: 1rem 1.5rem;
  }
  /* --- ADS_MAIN_CONTAINER-END --- */

  /* ---CARD_INSIDE_CONTAINER --- */

  .panel-card-container {
    margin: 20px 10px 20px 5px;
    padding: 1rem 1rem; 
  }

  /*--- SECTION1 ---*/

  .panel-card-big-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .panel-card-big-header img {
    margin: 20px;
  }
  .panel-card-big-header h1 {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    font-size: var(--panel-card-title);
  }

  /*--- SECTION2 ---*/

  .panel-card-items{
    margin-top: 1rem;
    padding: 1.5rem;
    border-radius: 20px;
    background-color: var(--color7);
  }

  /*--- SECTION3 ---*/

  .panel-card-section{
    margin-top: 1rem;
    padding: 1.5rem;
  }

  .panel-card-section-title{
    margin: 0 0 0.6rem 0;
  }
  .panel-card-section-p{
    margin: 0.4rem 0.4rem;
  }


  /*--- SECTION5 ---*/

  .card-inside-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .card-inside-form textarea{
    /**/
  }

  .card-inside-form button{
    justify-self: center ;
    width: 11rem;
    margin: auto;
  }
/* --- CARD_INSIDE_CONTAINER-END --- */

/* ---------------------- PANEL-MAIN-CONTAINER ---------------------- */

.panel-main-container{
  display: flex;
  flex-direction: row;
  margin: 20px 5px 20px 5px;
}

.panel-nav{
  width: 32%;
  margin: 20px 7px 20px 7px;
  padding: 0.5rem 0.5rem;
}

.panel-nav h1{
  margin: 10px 0px 0.5rem 0px;
}

.panel-content{
  width: 100%;
  margin: 20px 7px 20px 7px;
  padding: 1.5rem 1.5rem;
}

.panel-section-h1{
  margin: 10px 0px 0.5rem 0px;
}
.panel-item{
  margin: 10px;
  padding: 1.2rem 1.4rem;
}


/* ---------------------- PANEL-MAIN-CONTAINER-END ---------------------- */

  /* --- ZGLOSZENIE-MAIN-CONTAINER --- */
  .zgloszenie-main-container {
    display: grid;
    grid-template-columns: 0fr 1fr 1fr 0fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "n main main n1"
      "n main main n1";
    
  }
/* --- ZGLOSZENIE-MAIN-CONTAINER --- */

}

/* -------------------------------------------------- TABLET -------------------------------------------------- */
@media (max-width: 1300px){
 
  /* ----------- WELCOME-MAIN_CONTAINER ----------- */
  .hero-wrapper{
    align-items: center;
  }
  
  .hero img{
    min-width: 220px;
    min-height: 220px;
  }

  .hero h1{
    font-size: 3.5rem;
  }

  .content{
    margin: 0.5rem;
    padding: 0.8rem 1rem;
  }

  .article{
    flex-direction: column;
    padding: 10px;
  }

  .article img{
    width: 180px;
    height: 180px;
    margin: 1rem;
  }

  .article-wrapper
  {
    padding: 1.2rem;
  }

  .blank1{
    display:flex;
  }

  .blank2{
    display: none;
  }
  /* ----------- WELCOME-MAIN_CONTAINER-END ----------- */
  
  /* ---------------------- FORMS_MAIN_CONTAINER ---------------------- */

  .forms-main-container{
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas:
      "n form form n1"
      "n form form n1";
  }
  /* ---------------------- FORMS_MAIN_CONTAINER-END ---------------------- */

  /* --- ADS_MAIN_CONTAINER --- */
  .ads-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "sidebar sidebar sidebar sidebar"
        "main main main main";
  }
  .sidebar-container {
    margin: 20px 5px 10px 5px;
    /*padding: 2rem 1.5rem; */
  }

  /*-----*/

  .cards-content {
    margin: 10px 5px 10px 5px;
   padding: 1rem 0.6rem; 
  }

  .card {
    margin-bottom: 5px;
    padding: 0.5rem 1.5rem;
  }
  /* --- ADS_MAIN_CONTAINER-END --- */

  /* ---CARD_INSIDE_CONTAINER --- */

  .panel-card-container {
    margin: 10px 5px 10px 5px;
    padding: 1rem 0.6rem;
  }

  /*--- SECTION5 ---*/

  .card-inside-form{
    flex-direction: column;
  }

  .card-inside-form textarea{
    margin: 15px 0px 15px 0px;
  }

 
/* --- CARD_INSIDE_CONTAINER-END --- */

/* ---------------------- PANEL-MAIN-CONTAINER ---------------------- */

  .panel-main-container{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    padding: 5px;
  }

  .panel-nav{
    width: 100%;
    margin: 20px 0px 20px 0px;
    padding: 0.5rem 0.5rem;
  }

  .panel-nav h1{
    margin: 10px 0px 0.5rem 0px;
  }

  .panel-content{
    width: 100%;
    margin: 20px 0px 20px 0px;
    padding: 1rem 0.5rem;
  }

  .panel-section-h1{
    margin: 25px 0 30px 10px ;
  }
  .panel-item{
    margin: 10px;
    padding: 1.2rem 1.4rem;
  }


/* ---------------------- PANEL-MAIN-CONTAINER-END ---------------------- */

}

/* -------------------------------------------------- PHONE -------------------------------------------------- */
@media (max-width: 768px){
  
  .empty{
    height: 80px;
  }

  header{
    height: 80px;
  }

  .nav-center{
    top: 80px;
  }

  .nav-right button{
    display: none;
  }

  .nav-center button{
    display: block;
    margin: 20px 10px;
  }

  /* ----------- WELCOME-MAIN_CONTAINER ----------- */
  .hero{
    flex-direction: column;
  }

  .hero-wrapper{
    align-items: center;
  }
  
  .hero img{
    display: none;
  }

  .hero h1{
    margin-left: 0;
    margin-right: 0;
    font-size: 2.2rem;
  }

  .content{
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 0.3rem 0.5rem;
  }

  .article{
    flex-direction: column;
    padding: 5px;
  }

  .article img{
    width: 170px;
    height: 170px;
    margin: 0.9rem 0;
  }

  .article-wrapper
  {
    padding: 0.5rem;
  }
  /* ----------- WELCOME-MAIN_CONTAINER-END ----------- */

  .forms-main-container{
    display: grid;
    grid-template-columns: 0fr 1fr 1fr 0fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas:
      "n form form n1"
      "n form form n1";
    padding: 0rem 0rem;
  }

  /* --- ADS_MAIN_CONTAINER --- */
  .ads-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "sidebar sidebar sidebar sidebar"
        "main main main main";
  }
  .sidebar-container {
    margin: 20px 2px 10px 2px;
    /*padding: 2rem 1.5rem; */
  }

  /*-----*/

  .cards-content {
    margin: 5px 0px 5px 0px;
    padding: 0.5rem 0.3rem; 
  }

  .card-title{
    text-align: center;
  }

  .card {
    flex-direction: column;
    margin-bottom: 0.1rem;
    padding: 1.4rem 0.2rem;
  }

  .card-wrapper {
    padding: 0.5rem 1rem;
  }
  /* --- ADS_MAIN_CONTAINER-END --- */
  /* ---CARD_INSIDE_CONTAINER --- */

  .panel-card-container {
    margin: 5px 2px 5px 2px;
    padding: 0.5rem 0.4rem; 
  }

  .panel-card-big-header{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .panel-card-items{
    flex-direction: column;
    align-items: center;
  }

  .panel-card-section{
    padding: 1.1rem 0.8rem;
  }

  /*--- SECTION5 ---*/

  .card-inside-form{
    flex-direction: column;
  }

  .card-inside-form textarea{
    margin: 15px 0px 15px 0px;
  }

 
/* --- CARD_INSIDE_CONTAINER-END --- */
  
}


/* ---------------------------------------- HEADER-HIDE-ITEMS ---------------------------------------- */
@media (max-width: 1100px){
  .hamburger{
    display: block;
  } 

  .nav-center{
    position: fixed;
    top: 80px;
    left: -100%;
    width: 100%;
    padding: 30px 0px;
    margin: 0;
    height: fit-content;
    background: var(--color5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    transition: all .50s ease;
  }

  .nav-link{
    display: block;
    margin: 10px 10px;
    padding: 20px 60px;
    color: var(--color2);
  }

  .nav-link:hover{
    color: var(--color5);
    background-color: var(--color1);
    border-radius: 10px;
  }

  .nav-center button a{
    padding: 0;
    margin: 0;
    color: var(--color0);
  }

  .nav-center.open{
    left: 0;
  }
}