@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

*{
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

:root{
  --color0: #fff;
  --color1: #0B132B;
  --color2: #1C2541;
  --color3: #3A506B;
  --color4: #5BC0BE;
  --color5: #6FFFE9;
  --color6: #90e0ef;
  --color7: #f3f3f3;
  --color8: #949494;
  --color9: rgba(11, 19, 43, 0.54);
  --color10: rgb(243, 243, 243, 0.7);

  
  --main-radius: 12px;
  --main-padding: 5px;

  --h1-bigscreen: 1.7rem;
  --p-bigscreen: 1.1rem;
  --title-bigscreen: 1.8rem;
  --item-bigscreen: 1rem;

  --h1-laptop: 1.6rem;
  --p-laptop: 1rem;
  --title-laptop: 1.8rem;
  --item-laptop: 1rem;

  --h1-tablet: 1.5rem;
  --p-tablet: 1rem;
  --title-tablet: 1.8rem;
  --item-tablet: 1rem;

  --h1-phone: 1.4rem;
  --p-phone: 0.9rem;
  --title-phone: 1.8rem;
  --item-phone: 1rem;

  --logo-nav: 1.7rem;
  --nav-item: 1rem;
}

body{
  padding: 0;
  margin: 0;
  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-layout{
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 
  auto 
  1fr 
  auto;
}

.empty{
  height: 100px;
}

/* ---------------------- GLOBAL ---------------------- */
.button-global-bright{
  padding: 12px 30px;
  margin: 10px;
  border: none;
  border-radius: 30px;
  background: var(--color5);
  font-size: 1rem;
  font-weight: bold;
  color: var(--color1);
  transition: .4s;
}

.button-global-bright:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.button-global-dark{
  padding: 12px 30px;
  margin: 10px;
  border: none;
  border-radius: 30px;
  background: var(--color1);
  font-size: 1rem;
  font-weight: bold;
  color: var(--color0);
  transition: .4s;
}

.button-global-dark:hover{
  color: var(--color5);
  transform: scale(1.05);
  cursor: pointer;
}

/* ---------------------- GLOBAL-END ---------------------- */

/* ---------------------- HEADER-NAVBAR ---------------------- */
header{
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 5px 5%;
  background-color: var(--color1);
  transition: all .50s ease;
}

.nav-left
{
  display: flex;
  flex-direction: row;
}

.nav-left-img
{
  align-self: center;
  width: 2rem;
  height: 2rem;
  margin-right: 10px;
}

.nav-left-text {
  font-size: var(--logo-nav);
  color: var(--color0);
}

.nav-left-text-color{
  color: var(--color5);
}

.logo:hover{
  color: var(--color5);
  transition: all .50s ease;
  cursor: pointer;
}

.nav-center{
  display: flex;
}

.nav-link{
  padding: 5px 0px;
  margin: 0px 30px;
  font-size: var(--nav-item);
  color: var(--color0);
  transition: all .50s ease;
}

.nav-link:hover{
  color:var(--color5);
}

.nav-button-dark{ 
  /*button po wysunięciu menu*/
  display: none;
  padding: 12px 30px;
  margin: 10px;
  border: none;
  border-radius: 30px;
  background: var(--color1);
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--color0);
  transition: .4s;
}

.nav-button-dark:hover{
  /*button po wysunięciu menu*/ 
  transform: scale(1.13);
  cursor: pointer;
}

.nav-right{
  display: flex;
  align-items: center;
}

.nav-right a:visited{
  color: var(--color1);
}
.nav-button-bright{
  padding: 12px 30px;
  margin: 10px;
  border: none;
  border-radius: 30px;
  background: var(--color5);
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--color1);
  transition: .4s;
}

.nav-button-bright:hover{
  transform: scale(1.13);
  cursor: pointer;
}

.hamburger {
  display: none;
  margin-left: 20px;
  cursor: pointer;
}

.hamburger div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: var(--color0);
}
/* ---------------------- HEADER-NAVBAR-END ---------------------- */

/* ---------------------- FORMS_MAIN_CONTAINER ---------------------- */

.forms-main-container{
  display: grid;
  grid-template-columns: 0.8fr 1fr 1fr 0.8fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "n form form n1"
    "n form form n1";
  grid-gap: 0.2rem;
  padding: 3rem 1.5rem;
}

.forms {
  background: var(--color6);
  grid-area: form;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  margin: 20px;
  padding: 2rem 1.5rem;
  height: fit-content;
}
/* ---------------------- FORMS_MAIN_CONTAINER-END ---------------------- */

/* ---------------------- WELCOME-MAIN_CONTAINER ---------------------- */
.hero {
  /* background: #90e0ef; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
  margin: 20px;
}

.hero img{
  width: 100%;
  height: 100%;
  max-height: 18vw;
  max-width: 18vw;
}

.hero h1{
  font-size: 4.8vw;
  color: var(--color0);
}

.hero span{
  color: var(--color1);
}

.hero-wrapper{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
/* ------ */
.content {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  padding: 1.5rem 1.5rem;
  border-radius: var(--main-radius);
  background: var(--color9);
}

.article{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid;
  border-radius: var(--main-radius);
  border-color: var(--color0);
  background-color: var(--color0);
  color: var(--color1);
}

.article img{
  max-width: 200px;
  max-height: 200px;
  margin: 1rem;
}

.article-wrapper{
  padding: 2rem;
}

.article-wrapper h1{
  font-size: var(--h1-bigscreen);
}

.article-wrapper p{
  font-size: var(--p-bigscreen);
}

.blank1{
  display: none;
}
/* ---------------------- WELCOME-MAIN_CONTAINER-END ---------------------- */

/* ---------------------- ADS_MAIN_CONTAINER ---------------------- */
.ads-main-container {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.2rem;
  grid-template-areas:
    "sidebar main main main"
    "sidebar main main main";
}

.sidebar-container {
  grid-area: sidebar;
  height: fit-content;
  margin: 20px;
  padding: 2rem 1.5rem;
  border-radius: var(--main-radius);
  background: #90e0ef;
}

.form-global-title{
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: var(--h1-bigscreen);
  text-align: center;
}

.form-global{
  display: flex;
  flex-direction: column;
}

.form-global-item{
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 10px;
  border: 2px solid var(--color1);
  border-radius: 10px;
  background-color: var(--color0);
}

/*-----*/

.cards-content {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 2rem 1.5rem;
  border-radius: var(--main-radius);
  background: var(--color9);
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 7px 0;
  padding: 1rem 1.5rem;
  /* border: 1px solid var(--color8); */
  border-radius: var(--main-radius);
  background-color: var(--color0);
  color: black;
}

.card:visited {
  color: black;
}

.card:hover{
  background-color: rgb(202, 202, 202);
}

.card-title {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: var(--h1-bigscreen);
}

.card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 190px;
  margin-right: 5px;
  border: 1px solid var(--color1);
  border-radius: 10px;
  background-color: var(--color0);
}

.card-wrapper {
  width: 100%;
  margin-bottom: 10px;
  padding: 1rem 1.5rem;
  color: black;
}

.card-wrapper img {
  width: 29px;
  height: 29px;
  margin-right: 7px;
  padding: 0px;
}

.card-item {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 7px;
}

.bold {
  font-weight: bold;
}

/* ---------------------- ADS_MAIN_CONTAINER-END ---------------------- */

/* ---------------------- CARD_INSIDE_CONTAINER ---------------------- */

.panel-card-container {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 1.5rem;
  border-radius: var(--main-radius);
  background-color: var(--color0);
}

.panel-card-wrapper{
  width: 100%;
}

/*--- SECTION1 ---*/

.panel-card-big-header{
  display: flex;
}

.panel-card-big-header img {
  width: 195px;
  height: 195px !important;
  margin-right: 25px;
  border-radius: 10px;
  /* border: 1px solid var(--color1);
  background-color: var(--color0); */
}

.panel-card-big-header h1 {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.2rem;
}

/*--- SECTION2 ---*/

.panel-card-items{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 20px;
  background-color: var(--color7);
}

.panel-card-items img {
  width: 50px;
  height: 50px;
  margin-right: 7px;
  padding: 0px;
}

.panel-card-items p {
  display: flex;
  align-items: center;
  margin: 5px;
  font-weight: bold;
}

/*--- SECTION3 ---*/

.panel-card-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 20px;
  background-color: var(--color7);
}

.row-space
{
  flex-direction: row;
  justify-content: space-evenly;
}

.dark{
  background-color: var(--color1);
}

.panel-card-section-title{
  margin: 0 0 1rem 0;
  font-size: 1.3rem;
}
.title-white{
  color: var(--color0);
}
.panel-card-section-p{
  margin: 0.4rem;
  padding: 0;
}


/*--- SECTION5 ---*/


.card-inside-section5 h3{
  margin: 0 0 1rem 0;
  font-size: 1.3rem;
  color: var(--color0);
}

.card-inside-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-inside-form textarea{
  display:inline-block;
  width: 79%;
  height: 15rem;
  margin-right: 20px;
  padding: 1rem;
  border-style: none;
  border-radius: 10px;
  border-width: 2px;
  background-color: var(--color0);
}

.card-inside-form button{
  justify-self: center ;
  width: 11rem;
  margin: auto;
}

/* ---------------------- CARD_INSIDE_CONTAINER-END ---------------------- */

/* ---------------------- PANEL-MAIN-CONTAINER ---------------------- */

.panel-main-container{
  display: flex;
  margin: 20px;
  border-radius: var(--main-radius);
  background-color: rgba(11, 19, 43, 0.7);
}

.panel-nav{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: fit-content;
  margin: 1rem;
  padding: 1rem;
  border-radius: var(--main-radius);
  background-color: var(--color6);
}

.panel-nav h1{
  margin: 0px 0px 0.5rem 0px;
  text-align: center;
}

.panel-nav a{
  margin: 0;
  padding: 0;
  color: var(--color1);
}

.panel-nav-item{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  margin: 1rem 0rem;
  padding-top: 0.9rem;
  border-radius: 50px;
  border-bottom: 1px solid;
  font-weight: bold;
  background-color: rgba(11, 19, 43, 0.03);
}

.panel-nav-item:hover{
  border-radius: 50px;
  border-bottom: 3px solid var(--color5);
  background-color: var(--color1);
  color: var(--color5);
  transition: all .50s ease;
}

.panel-content{
  width: 100%;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: var(--main-radius);
  background-color: var(--color0);
}

.panel-section{
 /* */
 margin: 0;
}

.panel-section-h1{
  margin: 25px 0 30px 0px ;
  font-size: var(--h1-bigscreen);
}
.panel-item{
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 1.5rem 1.5rem;
  border-radius: 20px;
  background-color: var(--color7);
}

.panel-item-p{
  margin-left: 20px;
  font-size: var(--p-bigscreen);
}

.panel-item-h2{
  margin: 0 0 0.75rem 0;
}

.panel-logo{
  width: 200px;
  height: auto;
  margin-left: 10px;
}

.panel-item textarea{
  display:inline-block;
  width: 100%;
  height: 15rem;
  padding: 1rem;
  border-style: none;
  border-radius: 10px;
  border: 2px solid var(--color1);
  background-color: var(--color0);
}

.ad-accepted{
  background-color: #b1ebaf !important; 
}

.ad-denied{
  background-color: #ebb1af !important; 
}

/* ---------------------- PANEL-MAIN-CONTAINER-END ---------------------- */


/* ---------------------- FOOTER ---------------------- */
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  background: var(--color1);
  text-align: center;
  color: white;
}

footer p{
  margin: 40px;
  padding: 0;
}
/* ---------------------- FOOTER-END ---------------------- */



/* ------------------------- MEDIA BREAKPOINTS ------------------------- */

/* ---------- LAPTOP ---------- */
@media (max-width: 1360px){
  .button-global-bright
  {
    font-size: var(--p-laptop);
  }
  .button-global-dark
  {
    font-size: var(--p-laptop);
  }

  header{
      padding: 14px 2%;
      transition: .2s;
  }

  .nav-link a{
      padding: 5px 0px;
      margin: 0px 20px;
  }
  /* ----------- WELCOME-MAIN_CONTAINER ----------- */
  .hero img{
    min-width: 250px;
    min-height: 250px;
  }

  .hero h1{
    font-size: 4rem;
  }

  .content{
    margin: 1rem;
    padding: 1rem 1.2rem;
  }

  .article{
    padding: 10px;
  }

  .article img{
    width: 190px;
    height: 190px;
    margin: 1rem;
  }
  .article h1{
    font-size: var(--h1-laptop);
  }
  .article p{
    font-size: var(--p-laptop);
  }

  .article-wrapper
  {
    padding: 1.6rem;
  }
  /* ----------- WELCOME-MAIN_CONTAINER-END ----------- */

  /* ---------------------- FORMS_MAIN_CONTAINER ---------------------- */

  .forms-main-container{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas:
      "n form form n1"
      "n form form n1";
    grid-gap: 0.2rem;
  }
  /* ---------------------- FORMS_MAIN_CONTAINER-END ---------------------- */

  /* ---------------------- ADS_MAIN_CONTAINER ---------------------- */
  .ads-main-container {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.2rem;
    grid-template-areas:
      "sidebar main main main"
      "sidebar main main main";
  }

  .sidebar-container {
    margin: 20px;
    padding: 2rem 1.5rem;
  }

  .form-global-title{
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: var(--h1-bigscreen);
  }

  .form-global-item{
    margin-bottom: 1.5rem;
    padding: 10px;
  }

  /*-----*/

  .cards-content {
    margin: 20px;
    padding: 2rem 1.5rem;
  }

  .card {
    margin-bottom: 10px;
    padding: 1rem 1.5rem;
  }

  .card-title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: var(--h1-bigscreen);
  }

  .card-img {
    width: 190px;
    height: 190px;
    margin-right: 5px;
  }

  .card-wrapper {
    padding: 1rem 1.5rem;
  }

  .card-item {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .card-wrapper img {
    width: 29px;
    height: 29px;
    margin-right: 7px;
    padding: 0px;
  }
  /* ---------------------- ADS_MAIN_CONTAINER-END ---------------------- */

}
/* ---------- HEADER-HIDE-ITEMS ---------- */
@media (max-width: 1090px){
  .hamburger{
    display: block;
  } 

  .nav-center{
    position: fixed;
    top: 100px;
    left: -100%;
    width: 100%;
    padding: 30px 0px;
    margin: 0;
    height: fit-content;
    background: var(--color5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    transition: all .50s ease;
  }

  .nav-link{
    display: block;
    margin: 10px 10px;
    padding: 20px 60px;
    color: var(--color2);
  }

  .nav-link:hover{
    color: var(--color5);
    background-color: var(--color1);
    border-radius: 10px;
  }

  .nav-center button a{
    padding: 0;
    margin: 0;
    color: var(--color0);
    font-size: 15px;
  }

  .nav-center.open{
    left: 0;
  }
}

/* ---------- TABLET ---------- */
@media (max-width: 1024px){
  .button-global-bright
  {
    font-size: var(--p-tablet);
  }
  .button-global-dark
  {
    font-size: var(--p-tablet);
  }
  

  /* ----------- WELCOME-MAIN_CONTAINER ----------- */
  .hero-wrapper{
    align-items: center;
  }
  
  .hero img{
    min-width: 220px;
    min-height: 220px;
  }

  .hero h1{
    font-size: 3.5rem;
  }

  .content{
    margin: 0.5rem;
    padding: 0.8rem 1rem;
  }

  .article{
    flex-direction: column;
    padding: 10px;
  }

  .article img{
    width: 180px;
    height: 180px;
    margin: 1rem;
  }
  .article h1{
    font-size: var(--h1-tablet);
  }

  .article p{
    font-size: var(--p-tablet);
  }

  .article-wrapper
  {
    padding: 1.2rem;
  }

  .blank1{
    display:flex;
  }

  .blank2{
    display: none;
  }
  /* ----------- WELCOME-MAIN_CONTAINER-END ----------- */
  
  /* ---------------------- FORMS_MAIN_CONTAINER ---------------------- */

  .forms-main-container{
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas:
      "n form form n1"
      "n form form n1";
  }
  /* ---------------------- FORMS_MAIN_CONTAINER-END ---------------------- */

  /* ---------------------- ADS_MAIN_CONTAINER ---------------------- */
  .ads-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "sidebar sidebar sidebar sidebar"
        "main main main main";
  }

  .sidebar-container {
    margin: 20px;
    padding: 2rem 1.5rem;
  }

  .form-global-title{
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: var(--h1-bigscreen);
  }

  .form-global-item{
    margin-bottom: 1.5rem;
    padding: 10px;
  }

  /*-----*/

  .cards-content {
    margin: 20px;
    padding: 2rem 1.5rem;
  }

  .card {
    margin-bottom: 10px;
    padding: 1rem 1.5rem;
  }

  .card-title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: var(--h1-bigscreen);
  }

  .card-img {
    width: 190px;
    height: 190px;
    margin-right: 5px;
  }

  .card-wrapper {
    padding: 1rem 1.5rem;
  }

  .card-item {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .card-wrapper img {
    width: 29px;
    height: 29px;
    margin-right: 7px;
    padding: 0px;
  }
  /* ---------------------- ADS_MAIN_CONTAINER-END ---------------------- */
}

/* ---------- PHONE ---------- */
@media (max-width: 768px){
  .button-global-bright
  {
    font-size: var(--p-phone);
  }

  .button-global-dark
  {
    font-size: var(--p-phone);
  }

  .empty{
    height: 80px;
  }

  header{
    height: 80px;
  }

  .nav-left-text{
    font-size: 1.5rem;
  }

  .nav-center{
    top: 80px;
  }

  .nav-right button{
    display: none;
  }

  .nav-center button{
    display: block;
    margin: 20px 10px;
  }

  /* ----------- WELCOME-MAIN_CONTAINER ----------- */
  .hero{
    flex-direction: column;
  }

  .hero-wrapper{
    align-items: center;
  }
  
  .hero img{
    display: none;
  }

  .hero h1{
    margin-left: 0;
    margin-right: 0;
    font-size: 2.2rem;
  }

  .content{
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 0.3rem 0.5rem;
  }

  .article{
    flex-direction: column;
    padding: 5px;
  }

  .article img{
    width: 170px;
    height: 170px;
    margin: 0.9rem 0;
  }

  .article h1{
    font-size: var(--h1-phone);
  }

  .article p{
    font-size: var(--p-phone);
  }

  .article-wrapper
  {
    padding: 0.5rem;
  }
  /* ----------- WELCOME-MAIN_CONTAINER-END ----------- */

  .forms-main-container{
    display: grid;
    grid-template-columns: 0fr 1fr 1fr 0fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas:
      "n form form n1"
      "n form form n1";
    padding: 0rem 0rem;
  }

  /* ---------------------- ADS_MAIN_CONTAINER ---------------------- */
  .ads-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "sidebar sidebar sidebar sidebar"
        "main main main main";
  }

  .sidebar-container {
    margin: 10px;
    padding: 2rem 1.5rem;
  }

  .form-global-title{
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: var(--h1-bigscreen);
  }

  .form-global-item{
    margin-bottom: 1.5rem;
    padding: 10px;
  }

  /*-----*/

  .cards-content {
    margin: 10px;
    padding: 2rem 1.5rem;
  }

  .card {
    margin-bottom: 10px;
    padding: 1rem 1.5rem;
  }

  .card-title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: var(--h1-bigscreen);
  }

  .card-img {
    width: 190px;
    height: 190px;
    margin-right: 5px;
  }

  .card-wrapper {
    padding: 1rem 1.5rem;
  }

  .card-item {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .card-wrapper img {
    width: 29px;
    height: 29px;
    margin-right: 7px;
    padding: 0px;
  }
  /* ---------------------- ADS_MAIN_CONTAINER-END ---------------------- */
  /* ---------------------- CARD_INSIDE_CONTAINER ---------------------- */
  .panel-card-container{
    margin: 10px;
  }
  .panel-card-big-header{
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }
  .panel-card-items{
    flex-direction: column;
  }
  .ad-offer-title{
    font-size: 2rem;
  }
  /* ---------------------- CARD_INSIDE_CONTAINER-END ---------------------- */
}
